$gradient-primary: linear-gradient(90deg, rgba(151, 225, 96, 1) 0%, rgba(0, 217, 166, 1) 100%);
$gradient-primary-topdown: linear-gradient(0deg, rgba(151, 225, 96, 1) 0%, rgba(0, 217, 166, 1) 100%);
$gradient-secondary: linear-gradient(90deg, rgba(69, 69, 69, 1) 0%, rgba(13, 13, 13, 1) 100%);
$hover-bg: linear-gradient(45deg, rgba(151, 225, 96, 1) 0%, rgba(0, 217, 166, 1) 100%);
$hover-bg-reverse: linear-gradient(230deg, rgba(151, 225, 96, 1) 0%, rgba(0, 217, 166, 1) 100%);
$contrast-color: #00D9A6;
$text-color: #202020;
$icons-color: #3d3d3d;
$header-footer-text-color: #444444;
$topbar-bg: #3d3d3d;
$bg-secondary: #fafafa;
$bg-tertiary: #f9f9f9;