@use './partials/variables' as *;

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap.scss';

@import './partials/variables';

body{
    background-color: $bg-primary;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.fa-brands:hover{
    color: $contrast-color;
    cursor: pointer;
}

.invisible{
    display: none;
}